In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt
from datetime import date

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [6]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

In [ ]:
#precip_analysis = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= date_string).\
#    filter(Measurement.date <= "2017-08-23").all()
#precip_analysis

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

prcp_list = session.query(Measurement)
for measurement in prcp_list:
    print(measurement.prcp)

In [ ]:
#last_date = session.query(Measurement.date).order_by(Measurement.date.desc).first()
#print(last_date)

last_date = session.query(func.max(Measurement.date)).first()
print(last_date)

In [ ]:
last_date2=str(last_date)
year = int(last_date2[2]+ last_date2[3]+last_date2[4]+last_date2[5])
print(year)
month = int(last_date2[7]+last_date2[8])
print(month)
day = int(last_date2[10]+last_date2[11])
print(day)

In [ ]:
my_date = dt.date(year, month, day)
my_date

In [ ]:
# Query for the Dow closing price for `CSCO` 1 week before `2011-04-08` using the datetime library
query_date = dt.date(year, month, day) - dt.timedelta(days=365)
print("Query Date: ", query_date)

In [ ]:
dt_format="%Y%m%d"

x=dt.date(func.strptime(last_date, dt_format))
x

In [ ]:
struct_time = date_string.strptime(date_string, "%d %b %y")
struct_time



dt_format="%Y%m%d"
my_date = last_date
#datetime.datetime.strptime(date_string.strftime(dt_format), dt_format)


date_object = func.strftime(date_string, "%d %B, %Y")
print(date_object)

year = date_string.strftime("%Y")
print("year:", year)
month = date_string.strftime("%m")
print("month:", month)
day = date_string.strftime("%d")
print("day:", day)

date_time = date_string.strftime("%Y/%m/%d")
print("date and time:",date_time)

In [ ]:
year = date_string.strftime("%Y")
print("year:", year)
month = date_string.strftime("%m")
print("month:", month)
day = date_string.strftime("%d")
print("day:", day)

date_time = date_string.strftime("%Y/%m/%d")
print("date and time:",date_time)

In [ ]:
dt_format="%Y%m%d"
my_date = last_date
datetime.datetime.strptime(my_date.strftime(dt_format), dt_format)

my_datetime = datetime(my_date.year, my_date.month, my_date.day)
print(my_datetime)

In [ ]:
# Calculate the date 1 year ago from the last data point in the database

one_year = query_date = dt.date(int(date_string) - dt.timedelta(days=365)

one_year

In [ ]:
date = dt.datetime(2011, 5, 31)

results = session.query(Dow.high_price - Dow.low_price).\
    filter(Dow.date > date).filter(Dow.stock == 'IBM').all()
    
ptps = list(np.ravel(results))

# List Comprehension Solution
# ptps = [result[0] for result in results]

ptps

In [ ]:


# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
lastd = pd.to_datetime(date_string)
lastd

In [ ]:
from datetime import datetime, timedelta 
  
  
# Using current time 
ini_time_for_now = datetime.last_date() 
  
# printing initial_date 
print ("initial_date", str(ini_time_for_now)) 
  
# Calculating future dates 
# for two years 
future_date_after_2yrs = ini_time_for_now + \
                        timedelta(days = 730) 
  
future_date_after_2days = ini_time_for_now + \
                         timedelta(days = 2) 
  
# printing calculated future_dates 
print('future_date_after_2yrs:', str(future_date_after_2yrs)) 
print('future_date_after_2days:', str(future_date_after_2days))

![precipitation](Images/precipitation.png)

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

![describe](Images/describe.png)

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

![precipitation](Images/station-histogram.png)

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

## Optional Challenge Assignment

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`